@font-face {
  font-family: "Blomberg";
  src: url("./font/Blomberg.otf") format("opentype");
}

@media screen and (min-width: 500px) {
  .board {
    display: grid;
    grid-template-columns: 20vh 20vh 20vh;
    grid-template-rows: 20vh 20vh 20vh;
    grid-row-gap: 2vh;
    grid-column-gap: 10vh;
    cursor: url("img/drumstick.png"), auto;
  }

  .rotated-cursor {
    cursor: url("img/drumstick2.png"), auto;
  }

  .board > div {
    position: relative;
    top: 15vh;
    width: 20vh;
    height: 5vh;
    border-radius: 50%;
    padding-bottom: 15px;
    background-color: #fddf687e;
  }

  .mole {
    position: relative;
    background-image: url("./img/mock.png");
    background-size: cover;
    top: -12vh;
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .activeMole {
    position: relative;
    background-image: url("./img/shock.png");
    background-size: cover;
    top: -12vh;
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .progress-bar {
    width: 80vh;
  }

  .end-page-image {
    width: 50vh;
    height: 50vh;
  }
}

@media screen and (max-width: 499px) {
  .board {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 20vw 20vw 20vw;
    grid-row-gap: 15vw;
    grid-column-gap: 2vw;
    cursor: url("img/drumstick.png"), auto;
  }

  .board > div {
    position: relative;
    top: 15vw;
    width: 20vw;
    height: 5lvw;
    border-radius: 50%;
    padding-bottom: 15px;
    background-color: #fddf687e;
  }
  .mole {
    position: relative;
    background-image: url("./img/mock.png");
    background-size: cover;
    top: -12vw;
    width: 20vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .activeMole {
    position: relative;
    background-image: url("./img/shock.png");
    background-size: cover;
    top: -12vw;
    width: 20vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .progress-bar {
    width: 66vw;
  }

  .end-page-image {
    width: 50vw;
    height: 50vw;
  }
}

.main {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: "Blomberg", Times, serif;
  font-size: 20px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.front-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("./img/mock2.png");
  background-size: 2vw;
  background-position: -10px 0px;
}
.front-page > h1 {
  font-family: "Blomberg", Times, serif;
  font-size: 4.5rem;
  color: orange;
  text-align: center;
  -webkit-text-stroke: 5px orangered;
}
.start {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

button {
  font-size: 20px !important;
  padding-left: 4vw !important;
  padding-right: 4vw !important;
  font-family: "Blomberg", Times, serif !important;
  background-color: brown !important;
  border-color: brown !important;
}

.end-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Blomberg", Times, serif;
}
