.board {
  display: grid;
  grid-template-columns: 20vh 20vh 20vh;
  grid-template-rows: 20vh 20vh 20vh;
  grid-row-gap: 2vh;
  grid-column-gap: 10vh;
  position: absolute;
}

.mole {
  background-color: red;
  border-radius: 50%;
  width: 15vh;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.header {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  margin-bottom: 5vh;
  margin-top: 7vh;
}

.restart {
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
}
